<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Music Theory Website by Mary. Sources can be found on our <a href="/Sources">sources page</a>.
      </p>
    </div>
  </footer>
</body>
</html>