<%- include("partials/header") %>

<div class="box">
    <div class="content has-text-centered">
        <h1>More Lessons Coming Soon!</h1>
        <p>Please feel free to reach out with any comments, questions, or concerns by using the <a href="Contact">Contact Form</a>.</p>
        <figure>
            <img src="./Images/logo_inverse.png" alt="">
        </figure>
        <p class="subtitle">Thank you for visiting my site!</p>
    </div>

</div>
<%- include("partials/footer") %>