<%- include("partials/header") %>
<section class="container">
  <div class="box">
    <h1 class="title">Contact Form</h1>

    <form action="/contact" id="contact-form" method="post" role="form">
      <fieldset>
        <div class="field">
          <label for="name">Name</label>
          <div class="control">
            <input class="input is-primary" id="name" name="name" type="text" placeholder="Your name" required>  
          </div>
        </div>
        <div class="field">
          <label for="email">Email</label>
          <div class="control">
            <input class="input is-primary" id="email" name="email" type="email" placeholder="Your email" required>
          </div>
        </div>
        <div class="field">
          <label for="message">Message</label>
          <div class="control">
            <textarea class="textarea is-primary" id="message" name="message" placeholder="Enter your message here" rows="3" required></textarea>
          </div>
        </div>    
        <div class="control">
          <button class="button is-link is-pulled-right" type="submit">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
<%- include("partials/footer") %>