<%- include("partials/header") %>
<section class="container">
    <div class="container is-fluid">
        <div class="box mt-6">
            <h3 class="title is-size-1-tablet has-text-centered">MUSIC THEORY IS GREAT!</h3>
            <p>Music theory is helpful for every kind of musician. If you want to learn to write better songs or play music with ease, music theory is your next step. After learning comprehensive music theory, you'll be able to analyze other composers' music and ultimately develop your own style.
                <br>
                <br>Fortunately for you, you've discovered Music Theory by Mary! This website is a great starting point in your journey to understanding music theory.</p>
            <br>
            <p class="subtitle has-text-centered"><a href="/Lessons">Take your first step by going to our Lessons Page</a>!</p>
        </div>
        <div class="box mb-6">
            <figure class="image is-16by9">
                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/xwgBrD4S5Pw" frameborder="0" allowfullscreen></iframe>
            </figure>
        </div>
    </div>
</section>
<%- include("partials/footer") %>