<%- include("partials/header") %>
<section class="container">
    <div class="container is-fluid">
        <div class="box my-6 bg-img">
            <div>
                <h3 class="title has-text-centered">Lessons</h3>
                <p>
                    <ul>
                        <li><a href="/Lesson0">Lesson 0: The Basics</a> - <em>Start Here!</em></li>
                        <li><a href="/Lesson1">Lesson 1: Pitch and Notation</a></li>
                        <li><a href="/Lesson2">Lesson 2: Intervals, Solfege, and Scales</a></li>
                        <li><a href="/Lesson3">Lesson 3: Key Signatures and the Circle of Fifths</a></li>
                        <li><a href="/Lesson4">Lesson 4: Chords</a> - <em>Coming Soon</em></li>
                        <li><a href="/Lesson5">Lesson 5: Chord Analysis</a> - <em>Coming Soon</em></li>
                        <li><a href="/Lesson6">Lesson 6: Rhythm</a> - <em>Coming Soon</em></li>
                    </ul>
                </p>    
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer") %>