
<%- include("partials/header") %>
<section class="container my-5">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
              <div class="content">
                <p class="title">Lesson 0: The Basics</p>
                <p class="subtitle">These are the very basics of music and of music theory. Each lesson will focus on these foundational aspects of music theory.</p>
                <p class="subtitle">You can think of each topic as a building block for the foundation of knowledge.</p>
                <p class="subtitle">All of the lessons on this website will be based in Western-style music (the same style that most popular music uses today!).</p>
                <div class="image">
                    <img src="./Images/beginning.png" alt="">
                </div>
              </div>
            </article>
          </div>
        <div class="tile is-vertical is-6">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                  <div class="content">
                    <p class="title">The Basics of Music</p>
                    <p class="subtitle">(Step 1)</p>
                    <ul>
                        <li>Melody: single notes, usually grouped together in phrases</li>
                        <li>Harmony: any simultaneous combination of notes</li>
                        <li>Rhythm: placement of sounds in time</li>
                    </ul>
                  </div>
              </article>
              <article class="tile is-child notification is-danger">
                  <div class="content">
                    <p class="title">The Basics of Music Theory</p>
                    <p class="subtitle">(Step 2)</p>
                    <ul>
                        <li> Scales: any set of notes ordered by pitch.
                            <p>There are many different types of scales; each of which can be used to set different moods to the music. Our lessons will primarily focus on Major and Minor scales.</p>
                        </li>
                        <li>Chords: typically 3 or more notes played simultaneously.
                            <p>Western-style music typically uses 3-note chords called triads. We will focus on these and 7th chords (chords with 4 notes)</p>
                        </li>
                        <li>Key Signatures: Indicate the key of a song using flats or sharps.</li>
                        <li>Music Notation: the symbols used to represent the elements of music.</li>
                    </ul>
                  </div>
              </article>
            </div>
          </div>
        </div>
      </div>
<h1 class="has-text-right"><a href="/Lesson1">Go to Lesson 1 →</a></h1>
</section>
<%- include("partials/footer") %>
