
<%- include("partials/header") %>
<section class="container my-5">
    <div class="tile is-ancestor">
        <div class="tile is-12 is-parent">
            <article class="is-child notification is-warning">
                <div class="content has-text-centered">
                    <h1 class="title">Lesson 1: Pitch and Notation</h1>
                    <figure class="image">
                        <img src="./Images/Keyboard_Lg.png" alt="">
                    </figure>
                    <p>The low notes are on the left of the keyboard, and gradually become higher as you continue right.</p>                        
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <h2 class="title">Pitch</h2>
                        <div class="content">
                            <p class="subtitle">Pitch defined: the frequency of a note</p>
                            <figure class="image my-0">
                                <img src="./Images/frequency.png" alt="">
                            </figure>
                            <figure class="image my-0">
                                <img src="./Images/Keyboard_sml.png" alt="Numbers 1-12 labeled on a keyboard">
                            </figure>
                            <p class="subtitle">On the piano, groups of 2 and 3 black keys create a pattern every 12 notes (or every octave)</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <h2 class="title mb-2">Notation</h2>
                <div class="content">
                    <p class="subtitle">Notation is a visual representation of the music.</p>
                    <figure class="image mb-4">
                        <img src="./Images/fun_notes.png" alt="">
                    </figure>
                    <p class="subtitle">The notes are labeled using the English alphabet letters A-G</p>
                    <figure class="image mb-4">
                        <img src="./Images/Keyboard_letters.png" alt="Piano keys A-G labeled on a keyboard">
                    </figure>
                    <p class="subtitle">After the notes reach the end of the cycle at G, they circle back to the beginning of A.</p>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-12 is-parent">
            <article class="tile is-child notification is-success">
                <div class="content wide-section">
                    <h3 class="title">The Music Staff</h3>
                        <figure class="image mb-3 image-width">
                            <img src="./Images/staff.png" alt="Piano keys A-G labeled on a keyboard">
                        </figure>
                        <p class="subtitle">The music staff has five lines and four spaces. Each of these represent a note A -G.</p>
                </div>
                <div class="content wide-section">
                    <h3 class="title">Clefs</h3>
                        <p class="subtitle">Clefs are located on the left-most part of the staff. The clefs indicate the pitches of the notes on the staff. Each clef moves the notes into different places.</p>
                </div>
                <div class="content wide-section">
                    <h4 class="title">Treble Clef</h4>
                        <p class="subtitle">The "Treble clef" is also known as the "G-clef" because the center spiral wraps around the "G" line.</p>
                        <figure class="image my-2 image-width">
                            <img src="./Images/treblestaff_lines.png" alt="">
                        </figure>
                        <p>The lines for the treble clef can be remembered using the mnemonic,"[E]very [G]ood [B]oy [D]oes [F]ine" or you can come up with your own!</p>
                        <figure class="image my-2 image-wifth">
                            <img src="./Images/treblestaff_spaces.png" alt="">
                        </figure>
                        <p>The spaces for the treble clef spell the word, "FACE" so they do not need a mnemonic, but feel free to make one if you'd like!</p>
                    <h4 class="title">Bass Clef</h4>
                    <p class="subtitle">The "Bass clef" is also known as the "F-clef" because the two dots fall around the "F" line.</p>
                    <figure class="image my-2 image-width">
                        <img src="./Images/bassstaff_lines.png" alt="">
                    </figure>
                    <p>The lines for the bass clef can be remembered using the mnemonic,"[G]reat [B]ig [D]ogs [F]ight [A]nimals" or you can come up with your own!</p>
                    <figure class="image my-2 image-width">
                        <img src="./Images/bassstaff_spaces.png" alt="">
                    </figure>
                    <p>The spaces for the treble clef spell the word, "ACE G" so they do not need a mnemonic, but feel free to make one if you'd like!</p>
                    <p class="subtitle">More clefs exist, however these are the ones that are used most popularly! Click <a target="_blank" href="https://www.musicnotes.com/now/tips/a-complete-guide-to-musical-clefs-what-are-they-and-how-to-use-them/">here</a> to learn about other clefs!</p>
                </div>
            </article>    
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <h3 class="title">Ledger Lines</h3>
                        <div class="content">
                            <p class="subtitle">Ledger lines are lines that are above or below the standard 5-line staff.</p>
                            <figure class="image mb-4 mx-0">
                                <img src="./Images/ledger_lines.png" alt="Piano keys A-G labeled on a keyboard">
                            </figure>
                            <p class="subtitle"> The lines and spaces created using ledger lines continue the pattern of alphabet letters A-G.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-primary">
                <h3 class="title">The Grand Staff</h3>
                <div class="content">
                    <p class="subtitle">Ledger lines are lines that are above or below the standard 5-line staff.</p>
                    <figure class="image mb-4 mx-0">
                        <img src="./Images/KeySigs/None.png" alt="Piano keys A-G labeled on a keyboard">
                    </figure>
                    <p class="subtitle"> The lines and spaces created using ledger lines continue the pattern of alphabet letters A-G.</p>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
            <h3 class="title">Accidentals</h3>
        <div class="content">
            <h4 class="subtitle">Sharps and Flats</h4>
            <p class="subtitle">These symbols are called sharps(#) and flats(♭).</p>
            <p class="subtitle">The sharp symbol(#) means raise the note by a single half-step.</p>
            <p class="subtitle">The flat symbol(♭) means lower the note by a single half-step. </p>
            <figure class="image mb-4 mx-0">
                <img src="./Images/sharps_flats.png" alt="Piano keys A-G labeled on a keyboard">
            </figure>
            <p class="subtitle">Sharps and flats are used to notate the pitches in between the notes A, B, C, D, E, F, and G!
                <br>They are also used in key signatures (which you'll learn more about in the next lesson), and can include C♭ (also known as B), E# (also known as F), and more.
                <br>The concept that a single note can have more than one name is called <em>enharmonic</em>.</p>
        </div>
        <div class="content">
                <h3 class="title">More Accidentals</h3>
            <p>There are three more symbols to note: the natural symbol(♮), the double flat symbol(♭♭), and the double sharp symbol(*).
                <ul>
                    <li>The natural symbol(♮) brings the note back to it's natural state (not sharpened or flattened). You can also think of this as the white keys on the keyboard.</li>
                    <li>The double flat symbol(♭♭) means lower the note by two half-steps. (G♭♭ would sound as F. C♭♭ would sound as B♭)</li>
                    <li>The double sharp symbol(*) means raise the note by two half-steps. (G* would sound as A. E* would sound as F#)</li>
                </ul>
                <br>You won't encounter these last three symbols frequently early on, but they'll become more important as you continue your journey learning Music Theory!</p>
        </div>
        </article>
    </div>
    <h1 class="has-text-right"><a href="/Lesson2">Go to Lesson 2 →</a></h1>
</section>
<%- include("partials/footer") %>