<%- include("partials/header") %>
<section class="container my-5">
    <div class="tile is-ancestor">
        <div class="tile is-12">
            <div class="tile is-parent">
                <article class="is-child notification is-danger">
                    <div class="content has-text-centered">
                        <h1 class="title">Lesson 2: Intervals, Solfege, and Scales</h1>
                        <p>This lesson is important! Be sure to familiarize yourself with all of the intervals and solfege. You will be using intervals later on to build scales and chords.</p>  
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
        <div class="tile">
            <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <h2 class="title">Intervals</h2>
                <div class="content">
                    <p class="subtitle mt-2">Intervals are the measured space between two notes. The table below shows intervals between Perfect Unisons up to an Octave.
                        <br> The songs on the right are songs you can use identify an interval by sound. These lessons won't go over much ear training, however if you check out the <a href="/Sources">sources page</a>, you'll find resources to help you with that topic if you're interested!</p>
                    <table class="table is-hoverable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th><abbr title="Abbreviation">Abbr</abbr></th>
                                <th># of half steps</th>
                                <th>Piano Visual</th>
                                <th>Song</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Perfect Unison</td>
                                <td>P1</td>
                                <td>0</td>
                                <td><figure class="image"><img src="./Images/Intervals/P1.png" alt=""></figure></td>
                                <td>Same note!</td>
                            </tr>
                            <tr>
                                <td>Minor Second (Half-Step)</td>
                                <td>m2</td>
                                <td>1</td>
                                <td><figure class="image"><img src="./Images/Intervals/min2.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/BX3bN5YeiQs">Jaws</a></td>
                            </tr>
                            <tr>
                                <td>Major Second (Whole-Step)</td>
                                <td>M2</td>
                                <td>2</td>
                                <td><figure class="image"><img src="./Images/Intervals/maj2.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/fTbEpGZyseA">Happy Birthday</a></td>
                            </tr>
                            <tr>
                                <td>Minor Third</td>
                                <td>m3</td>
                                <td>3</td>
                                <td><figure class="image"><img src="./Images/Intervals/min3.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/ldSvr_nDjKU">Greensleeves</a></td>
                            </tr>
                            <tr>
                                <td>Major Third</td>
                                <td>M3</td>
                                <td>4</td>
                                <td><figure class="image"><img src="./Images/Intervals/maj3.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/BC7GaAIBMww">When the Saints Go Marching In</a></td>
                            </tr>
                            <tr>
                                <td>Perfect Fourth</td>
                                <td>P4</td>
                                <td>5</td>
                                <td><figure class="image"><img src="./Images/Intervals/P4.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/a4sNsGePgs8?t=16">Here Comes the Bride</a></td>
                            </tr>
                            <tr>
                                <td>Tritone (Augmented Fourth/Diminished Fifth)</td>
                                <td>TT (+4/°5)</td>
                                <td>6</td>
                                <td><figure class="image"><img src="./Images/Intervals/TT.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/aPzS3QYb868">The Simpsons Theme Song</a></td>
                            </tr>
                            <tr>
                                <td>Perfect Fifth</td>
                                <td>P5</td>
                                <td>7</td>
                                <td><figure class="image"><img src="./Images/Intervals/P5.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=_D0ZQPqeJkk&feature=youtu.be&t=8">Star Wars Theme Song</a></td>
                            </tr>
                            <tr>
                                <td>Minor Sixth</td>
                                <td>m6</td>
                                <td>8</td>
                                <td><figure class="image"><img src="./Images/Intervals/min6.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/fPmruHc4S9Q?t=5">The Entertainer</a> (notes 3 & 4 of verse 1)</td>
                            </tr>
                            <tr>
                                <td>Major Sixth</td>
                                <td>M6</td>
                                <td>9</td>
                                <td><figure class="image"><img src="./Images/Intervals/maj6.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/INvJw3tJQNM?t=5">NBC Theme Song</a></td>
                            </tr>
                            <tr>
                                <td>Minor Seventh</td>
                                <td>m7</td>
                                <td>10</td>
                                <td><figure class="image"><img src="./Images/Intervals/min7.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/9IyJ3uoDMsg?t=8">Star Trek Theme Song</a> (notes 1 & 3)</td>
                            </tr>
                            <tr>
                                <td>Major Seventh</td>
                                <td>M7</td>
                                <td>11</td>
                                <td><figure class="image"><img src="./Images/Intervals/maj7.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/djV11Xbc914?t=54">Take On Me</a></td>
                            </tr>
                            <tr>
                                <td>Octave (Perfect 8th)</td>
                                <td>P8</td>
                                <td>12</td>
                                <td><figure class="image"><img src="./Images/Intervals/P8.png" alt=""></figure></td>
                                <td><a target="_blank" href="https://youtu.be/PSZxmZmBfnU">Somewhere Over the Rainbow</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>For fun, you can find other songs to identify these intervals by! To create your own list, you can look up "interval songs" or you can find songs in your own playlists.</p>
                </div>
            </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <h2 class="title">Scales</h2>
                    <div class="content">
                        <p>We will be using solfege for each note in the scales we'll be learning. You may be familiar with solfege if you've seen the sound of music!</p>
                        <br>
                        <p class="subtitle has-text-centered">Do Re Mi Fa So La Ti Do</p>
                        <p>This is the solfege scale. To indicate a raised a pitch, add the "ee" sound at the end (using 'i'). For instance in the key of C, C would be Do, and C# would be Di.</p>
                        <p>To indicate a lowered pitch, add the "eh" sound at the end. For instance, in the key of C, E would be Mi, and Eb would be Meh.</p>
                        <br>
                        <p>The chromatic scale includes all 12 available notes. The solfege for the chromatic scale changes depending on when you're moving up or down the scale:</p>
                        <p class="subtitle has-text-centered">↑ Do Di Re Ri Mi Fa Fi So Si La Li Ti Do ↑</p>
                        <p class="subtitle has-text-centered">↓ Do Ti Teh La Leh So Seh Fa Mi Meh Re Ra Do ↓</p>
                    </div>
                </article>
                <article class="tile is-child notification is-danger">
                    <div class="content">
                        <p class="subtitle">Scales are (usually) made up of half-steps and whole-steps (Whole steps are just two half steps)! Sometimes scales include other intervals as well.</p>
                        <figure class="image my-5">
                            <img src="./Images/major_scale.png" alt="">
                        </figure>
                        <figure class="image my-5">
                            <img src="./Images/nat_min_scale.png" alt="Numbers 1-12 labeled on a keyboard">
                        </figure>
                        <figure class="image my-5">
                            <img src="./Images/har_min_scale.png" alt="Numbers 1-12 labeled on a keyboard">
                        </figure>
                        <br>
                        <p class="subtitle">The Major and Minor Scales are the most used scales in popular music.</p>
                    </div>
                </article>
                </div>
        </div>
        </div>
    </div>
    <h1 class="has-text-right"><a href="/Lesson3">Go to Lesson 3 →</a></h1>
</section>

<%- include("partials/footer") %>