<%- include("partials/header") %>

<h1>Lesson 4: Chords</h1>

<h2>Triads</h2>
<h3>Augmented</h3>
<h3>Major</h3>
<h3>Minor</h3>
<h3>Diminished</h3>


<h2>Seventh Chords</h2>
<h3>Major 7th</h3>
<h3>Dominant 7th</h3>
<h3>Minor 7th</h3>
<h3>Half-Diminished 7th</h3>
<h3>Diminished 7th</h3>

<%- include("partials/footer") %>