<%- include("partials/header") %>

<section class="container">
    <div class="box content">
        <h1>Sources</h1>
            <ol>
                <li>Tonal Harmony by Kostka, Payne, Almen (Textbook)</li>
                <li> <a target="_blank" href="https://blog.landr.com/music-theory/">Music Theory: The Basics You Need to Make Better Music</a> by LANDR</li>
                <li> <a target="_blank" href="https://www.classicfm.com/discover-music/music-theory/what-is-the-circle-of-fifths/">What is the Circle of Fifths</a> from ClassicFM</li>
                <li>Images created with <a target="_blank" href="https://www.canva.com/">Canva</a></li>
            </ol>
            <p>These sources were used when I couldn't think of the right way to phrase information or if I was looking for certain details.</p>

        <h1>Other Cool Resources</h1>
            <ul>
                <li><a target="_blank" href="https://www.musictheory.net/lessons">MusicTheory.Net</a></li>
                <li><a target="_blank" href="https://www.teoria.com/en/exercises/">Teoria Exercises</a> - this has ear training exercises that are really helpful!</li>
                <li><a target="_blank" href="https://hellomusictheory.com/learn/">Hello Music Theory</a> - this is a great blog that has more in-depth lessons for Music Theory!</li>
            </ul>
    </div>
</section>

<%- include("partials/footer") %>