$dark-orange: #e76f51;

html {
    scroll-behavior: smooth;
}

a {
    color: $dark-orange;
}

.wide-section {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.image-width {
    max-width: 631px;
}

.image-sml {
    max-width: 400px;
}

.bg-img {
    background-image: url("https://images.unsplash.com/photo-1538402074774-8e624f3f7e5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80");
    opacity: .5;
}
